.top-i
  .top-i__inner
    %p.top-i__headline Gallary Collection
    %hr.top-i__hr

    %p.top-i__ttl
      Smile Point
      %span.num 99%
    = image_tag 'https://cdn.amanaimages.com/cen3tzG4fTr7Gtw1PoeRer/02129010742.jpg', size: '500x400', class: "top-i__img"
    %p.top-i__name With Tokyo03

    %p.top-i__ttl
      Smile Point
      %span.num 97%
    = image_tag 'http://blog-imgs-64.fc2.com/x/x/x/xxxkikimimixxx/IMG_3151.jpg', size: '500x400', class: "top-i__img"
    %p.top-i__name With Takashi

    %p.top-i__ttl
      Smile Point
      %span.num 83%
    = image_tag 'https://i.ytimg.com/vi/Y8-YLAKW7DU/maxresdefault.jpg', size: '500x400', class: "top-i__img"
    %p.top-i__name With Tokyo03
