.top-i
  .top-i__inner
    %p.top-i__headline Gallary Collection
    %hr.top-i__hr

    %p.top-i__ttl
      Smile Point
      %span.num 100%
    = image_tag 'two.jpg', size: '500x400', class: "top-i__img"
    %p.top-i__name With Takashi

    %p.top-i__ttl
      Smile Point
      %span.num 91%
    = image_tag 'gaiji.jpg', size: '500x400', class: "top-i__img"
    %p.top-i__name With Tokyo03
