.top-i
  .top-i__inner
    %p.top-i__headline My Gallery in Kansai
    %hr.top-i__hr

    %p.top-i__ttl
      Smile Point
      %span.num 100%
    = image_tag 'https://cdn.amanaimages.com/cen3tzG4fTr7Gtw1PoeRer/02129010742.jpg', size: '500x400', class: "top-i__img"
    %p.top-i__name With Takashi

    %a.follow{:href => "https://twitter.com/mildrenben", :target => "_blank"}
      %i.fa.fa-twitter>


%link{:href => "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", :rel => "stylesheet"}/
%link{:href => "https://fonts.googleapis.com/css?family=Roboto:400", :rel => "stylesheet", :type => "text/css"}/
