= form_for @post, url: posts_path do |f|
  .post__form
    .post__h1 Post Your Picture
    .post__input image
    = f.label :image, class: "post__image"
    = f.file_field :image, class: "post__input"
    = f.submit class: "post__button"
