= form_for @post, url: posts_path do |f|
  .post__form
    .post__h1 Post Your Picture
    .post__input image
    = f.label :image, class: "post__image"
    = f.file_field :image, class: "post__input"
    = f.submit class: "post__button"
    https://rr.img.naver.jp/mig?src=http%3A%2F%2Flivedoor.blogimg.jp%2Fgarlsvip%2Fimgs%2F3%2F3%2F33a910a4.jpg&twidth=1200&theight=1200&qlt=80&res_format=jpg&op=r
